.navbar-active{
    font-weight: bold;
    color: red !important;

}

.nav-item{
    font-size: 20px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    margin-right: 10px;
}

.nav-item:hover{
    color: rgb(155, 123, 68);
}