.footer-area{
    padding: 25px 10px;
    text-align: center;
}
.footer-area h4{
    color: #ffffff;
}
.footer-area p{
    color: #ffffff94;
}
.footer-area ul li{
    list-style: none;
    font-size: 18px;
}
.footer-nav{
    text-decoration: none;
    color: #ffffff94;
}
.footer-nav:hover{
    color: #ffffff;
    text-decoration: underline;
}